@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from { oapcity: 0; transform: translateY(-5px);}
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}


/* Optional: Add your global dark background and font */
/* body {
  @apply bg-gray-950 text-white font-sans;
} */
